@model List<Region>

<h1>Lista de regiones</h1>

<table class="table border">
    <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Pueblos</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Nombre</td>
            <td>
                @foreach (var pueblo in item.Pueblos)
                {
                    <span>@pueblo.Nombre</span>
                }
            </td>
        </tr>
    }
    @if (Model.Count == 0) {
        <tr>
            <td colspan="4" class="text-center">No se encontraron regiones</td>
        </tr>
    }
</table>

<a href="/ubicaciones/nuevaregion" class="btn btn-primary">Añadir región</a>